.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  text-align: center;
  border: none;
  margin: auto;
  border-radius: rem(5);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &--primary {
    background-color: $primary-color;
    color: $gray-light;

    &:hover {
      background-color: $primary-light;
    }
  }

  &--outlined {
    background-color: $white;
    font-weight: 500;
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
      background-color: $primary-light;
      color: $gray-light;
    }
  }

  &--secondary {
    background-color: #2ecc71;
    color: #ffffff;

    &:hover {
      background-color: #27ae60;
    }
  }

  &--disabled {
    background-color: $gray-dark;
    color: $gray-light;
    border-color: $gray-dark;
    cursor: not-allowed;

    &:hover {
      background-color: $gray-dark;
      cursor: not-allowed;
    }
  }

  &--small {
    padding: rem(8) rem(16);
    font-size: rem(14);
    width: 100%;

    @include respond-to(small) {
      padding: rem(6) rem(12);
      font-size: rem(12);
    }

    @include respond-to(medium) {
      padding: rem(8) rem(16);
      font-size: rem(14);
    }

    @include respond-to(large) {
      padding: rem(10) rem(20);
      font-size: rem(16);
    }
  }

  &--medium {
    padding: rem(10) rem(20); /* Same as default */
    font-size: rem(16); /* Same as default */

    @include respond-to(small) {
      padding: rem(8) rem(16);
      font-size: rem(14);
    }

    @include respond-to(medium) {
      padding: rem(10) rem(20);
      font-size: rem(16);
    }

    @include respond-to(large) {
      padding: rem(12) rem(24);
      font-size: rem(18);
    }
  }

  &--large {
    padding: rem(15) rem(30);
    font-size: rem(20);

    @include respond-to(small) {
      padding: rem(10) rem(20);
      font-size: rem(16);
    }

    @include respond-to(medium) {
      padding: rem(12) rem(24);
      font-size: rem(18);
    }

    @include respond-to(large) {
      padding: rem(14) rem(28);
      font-size: rem(20);
    }
  }
}
