.book-layout {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-rows: max-content calc(100vh - var(--navbar-height));
  width: 100%;

  &-children {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: rem(72);
    padding-left: rem(96);
    padding-right: rem(96);

    @include respond-to(medium) {
      overflow-y: auto;
      padding-left: rem(24);
      padding-right: rem(24);
    }

    @include respond-to(small) {
      padding-top: rem(48);
      overflow-y: auto;
      padding-left: rem(16);
      padding-bottom: rem(8);
      padding-right: rem(16);
    }
  }
}
